html {
	background-repeat: no-repeat;
	overflow: hidden;
	background: #2D4469;
}
.container {
	width: 80%;
	margin: auto;
}

.box-login {
	width: 350px;
	height: 450px;
	margin: auto;
	box-shadow: 2px 2px 15px rgba(0,0,0,.7);
	padding: 20px;
	background: #fff;
	margin-top: 100px;
	overflow: hidden;
	font-family: sans-serif;
	border-radius: 10%;
}

input {
	width: 80%;
	height: 40px;
	line-height: 40px;
	outline: none;
	margin: auto;
	margin-left: 10%;
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 10px;
}

button {
	width: 75%;
	height: 40px;
	margin-left: 50px;
	border: none;
	outline: none;
	color: white;
	background: #2D4469;
}
button:hover{
	font-weight: 500;
	background: #65AFA4;
	transition: 0.5s;
	color: #2D4469;
}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8 {
	position: absolute;
	border-radius: 50%;
}
.box-1 {
	width: 300px;
	height: 300px;
	margin-left: 600px;
	margin-top: -170px;
	z-index: 22;
	background: linear-gradient(45deg, #65AFA4, #2D4469);
}

.box-2 {
	width: 200px;
	height: 200px;
	margin-left: 730px;
	background: linear-gradient(45deg, #65AFA4, #2D4469);
}

.box-3 {
	width: 50px;
	height: 50px;
	margin-left: 730px;
	margin-top: 250px;
	background: linear-gradient(45deg, #436C87, #2D4469);
}

.box-4 {
	width: 80px;
	height: 80px;
	margin-top: 100px;
	background: linear-gradient(45deg, #61A79F, #85E0BA);
	box-shadow: 1px 1px 100px rgba(175, 247, 216,.8);
}

.box-5 {
	width: 30px;
	height: 30px;
	margin-top: 190px;
	background: linear-gradient(45deg, #61A79F, #85E0BA);
}

.box-6 {
	width: 30px;
	height: 30px;
	margin-top: 70px;
	margin-left: 70px;
	background: linear-gradient(45deg, #61A79F, #85E0BA);
}

.box-7 {
	width: 15px;
	height: 15px;
	margin-top: 200px;
	margin-left: 30px;
	background: linear-gradient(45deg, #61A79F, #85E0BA);
}

.box-8 {
	width: 300px;
	height: 300px;
	margin-top: 400px;
	margin-left: -250px;
	background: linear-gradient(45deg, #61A79F, #85E0BA);
}

@media (max-width: 768px) {
	.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8 {
		display: none;
	}
	.box-login {
		width: 100%;
		height: 650px;
		border-radius: 5%;
		margin-left: -20px;
		margin-top:  60px;
	}

}
@media (max-width: 1024px) {
	.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8 {
		display: none;
	}
	.box-login {
		width: 100%;
		height: 650px;
		border-radius: 5%;
		margin-left: -20px;
		margin-top:  60px;
	}